/** 
* style.css
* 
* @author lds <lds2012@gmail.com>
* @version $Id
* @date 2010-08-17
*/

#wrapper {
    width: 960px;
    margin: 0 auto;
}

.calDia {
    margin: 10px 0;
    font-size: 16px;
}

.quoBox {
    position: relative;
    background: url("../img/bg_quoBox.gif") no-repeat;
    width: 500px;
    height: 500px;
    font-weight: bold;
    border: 1px #888 solid;
}
.quoBox div {
    position: absolute;
    width: 100px;
    height: 100px;
    /*border: 1px red solid;*/
}
.quoBox label {
    background: #fff;
}
.quoBox .quoBox_top {
    top: 0;
    left: 200px;
    text-align: center;
}
.quoBox .quoBox_right {
    top: 200px;
    right: 0;
    text-align: right;
}
.quoBox .quoBox_bottom {
    height: 50px;
    bottom: 0;
    left: 200px;
}
.quoBox .quoBox_left {
    top: 200px;
    left: 0;
}
.quoBox .quoBox_X {
    top: 80px;
    left: 80px;
    text-align: right;
}
.quoBox .quoBox_Y {
    top: 80px;
    right: 80px;
    text-align: right;
}
.quoBox div.angles {
    background: #eee;
    width: 25px;
    height: 25px;
    border: 1px solid #eee;
    opacity:0.8;
}
.quoBox .angle_A {
    top: 0;
    left: 0;
}
.quoBox .angle_B {
    top: 0;
    right: 0;
}
.quoBox .angle_C {
    bottom: 0;
    right: 0;
}
.quoBox .angle_D {
    bottom: 0;
    left: 0;
}
.quoBox input.text {
    width: 80px;
    border: 1px solid #CCC;
}

#quo {
    float: left;
}

.resultBox {
    float: right;
    width: 300px;
    margin-top: 100px;
    padding: 50px;
    border: 10px solid #CCC;
}
.resultBox p span {
    display: inline-block;
    width:  80px;
}
.resultBox cite {
    color: green;
}

.resultBox ,#quo {
    /*border: 1px red solid;*/
}

.tinyColorBox {
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin-right: 5px;
    border: 1px solid #555;
}
